<div class="col-md-9">
    <div class="card">
        <div class="card-header">Sửa dịch vụ</div>
        <div class="card-body">
            <form id="quickForm" method="POST">
                <div class="card-body" style="padding: 0.5rem;">
                    <div class="row">
                        <div class="form-group col-12">
                            <label for="tendv">Tên dịch vụ</label>
                            <input type="text" name="tendv" class="form-control" id="tendv" value="<%= data.chiTietDV[0].TenDichVu %>" required>
                        </div>
                        <div class="col-sm-12 ">
                            <div class="form-group ">
                                <label>Mô tả</label>
                                <textarea name="mota" id="mota">
                                    <%= data.chiTietDV[0].MoTa %>
                                </textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="">
                    <button type="submit" id="btn-suadichvu" name="btn-suadichvu" class="btn btn-primary">Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="/static/plugins/summernote/summernote-bs4.min.js"></script>

<script>
    $(function() {
        // Summernote
        $('#mota').summernote()
    })
</script>