<div class="login-box">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a class="h1"><b> <%= data.app_name%></b></a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Bạn không nhớ mật khẩu? Hãy điền tên đăng nhập vào ô dưới đây để nhận liên kết đặt lại mật khẩu mới cho tài khoản của mình.</p>
            <form action="recover-password.html" method="post">
                <div class="input-group mb-3">
                    <input type="text" name="username" class="form-control" placeholder="Tên đăng nhập">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Gửi yêu cầu</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            <p class="mt-3 mb-1">
                <a href="/account">Đăng nhập</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>